@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}   
body {
    background-color:   black;
}
a {
    font-family: 'Trebuchet MS', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 0.75em 4em;
}

.logo img {
  height: 25px;
  width: auto;
  display: block;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 10rem;
  align-items: center;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #000 ;
}
h1 {
  color:white !important;
  text-align: center !important;
}